<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Ти читаєш на нашому сайті. Шо ти тут забув?</h1>

		<p>Але ,знаеєш, ти мені подобаєся</p>
		<p>Тому читай і далі</p>
	</div>



       <hr>


	<div id="profile_image">
		<%= image_tag "nihon.gif" %>
	</div>

	<div id="content">
		<h2>私たちのサイトの力を見ろ!!　</h2>
		<p>私たちは世界のリダ！！</p>
		　<p>
		恐れろ！
		</p>
	</div>


	
	



</div>
