<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Привіт! Ти знаходишся на сайті 一番！</h1>

		<p>Якщо ти не можеш прочитати останнє слово попереднього речення, то тобі краще почати вивчати японську мову!</p>
		<p>一番 це спільнота, яка надає можливість обмінюватися питаннями та відповідями серед людей, котрі вивчають японську мову. 一番 дозволяє прискорити процес навчання, а також коректувати Ваші помилки(щодо японської). Щоб отримати таку можливість, потрібно лише зареєструватися на сайті. Успішного Вам навчання! </p>
	</div>



       <hr>


	<div id="profile_image">
		<%= image_tag "nihon.gif" %>
	</div>

	<div id="content">
		<h2>今日は！私たちのサイトІЧІБАНの中で君がいる！　</h2>
		<p>君は言葉ІЧІБАНを読まれらないなら今ウクライナ語を勉強する方がいいだ！</p>
		　<p>
		ІЧІБАН はウクライナ語の教師だ。然し、日本語を勉強している人はウクライナ語の教師だ！ことができに、彼らは君を教ることが出来るようになる！そのことが欲しいならサイトに書いてください！
		</p>
	</div>


	
	



</div>
